  
    <section class="gallery" id="gallery">
                <h1 class="section-title">{{gallery.sec-title}}</h1>
                <div class="box-container">
                    <div class="box">
                    <img src="{{gallery.imagem}}">
                    <div class="content">
                    <h3>{{gallery.h3-imagem}}</h3>
                    <p>{{gallery.p-imagem}}</p>
                    </div>
                </div>
                <div class="box">
                    <img src="{{gallery.img1}}">
                    <div class="content">
                    <h3>{{gallery.h3-1}}</h3>
                    <p>{{gallery.p-1}}</p>
                    </div>
                </div>
                <div class="box">
                    <img src="{{gallery.img2}}">
                    <div class="content">
                    <h3>{{gallery.h3-2}}</h3>
                    <p>{{gallery.p-2}}</p>
                    </div>
                </div>
                <div class="box">
                    <img src="{{gallery.img3}}">
                    <div class="content">
                    <h3>{{gallery.h3-3}}</h3>
                    <p>{{gallery.p-3}}</p>
                    </div>
                </div>
                <div class="box">
                    <img src="{{gallery.img4}}">
                    <div class="content">
                    <h3>{{gallery.h3-4}}</h3>
                    <p>{{gallery.p-4}}</p>
                    </div>
                </div>
                <div class="box">
                    <img src="{{gallery.img5}}">
                    <div class="content">
                    <h3>{{gallery.h3-5}}</h3>
                    <p>{{gallery.p-5}}</p>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </section>