<section id="testimonials">
            <img src="{{testimonials.imagem-comentarios}}" id="testimonial_cps" alt="">

            <div id="testimonials_content">
                <h2 class="section-title">
                    {{testimonials.title-comentarios}}
                </h2>
                <h3 class="section-subtitle">
                    {{testimonials.subtitle-comentarios}}
                </h3>

                <div id="feedbacks">
                    <div class="feedback">
                        <img src="{{testimonials.pessoa1}}" class="feedback-avatar" alt="">

                        <div class="feedback-content">
                            <p>
                                {{testimonials.nome1}}
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <p>
                                {{testimonials.coment1}}
                            </p>
                        </div>
                    </div>

                    <div class="feedback">
                        <img src="{{testimonials.pessoa2}}" class="feedback-avatar" alt="">

                        <div class="feedback-content">
                            <p>
                                {{testimonials.nome2}}
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <p>
                                {{testimonials.coment2}}
                            </p>
                        </div>
                    </div>
                </div>

                <button class="btn-default">
                    Ver mais avaliações
                </button>
            </div>
        </section>